# =========================
# Build output
# =========================
bin/
obj/
out/
publish/

# =========================
# Visual Studio / Rider
# =========================
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log
*.bak
*.swp

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Optional local static libs
# =========================
**/wwwroot/lib/

